body {
  display: block;
  margin-top: 25px;
  margin-left: 75px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}
.delay {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  gap: 8px;
  width: 360px;
  height: 72px;
}
label {
  cursor: default;
}
.input-delay {
  height: 39px;
  border-style: solid;
  border-color: gray;
  border-radius: 4px;
  max-width: 360px;
  padding: 0;
}

fieldset {
  display: flex;
  max-width: 360px;
  column-gap: 30px;
  margin-top: 15px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  width: 324px;
  height: 78px;
  padding: 8px 16px;
}
.radio-btn {
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 8px;
  padding-left: 40px;
}
button {
  margin-top: 20px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
